<a href="https://colab.research.google.com/github/jiyeonjin/0624_retry/blob/main/0624.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#This is a comment
print("Hello World!")

print("Hello, World!")#This is a comment

In [ ]:
x=5
y="John"
print(x)
print(y)

x=4
x="Sally"
print(x)

x=str(3)
y=int(3)
z=float(3)

x=5
y="John"
print(type(x))
print(type(y))

x="John"
# is the same as
x='John'

In [ ]:
myvar="John"
my_yar="John"
_my_yar="John"
myVar="John"
MYYAR="John"
myvar2="John"

myVarialbleName="John"
my_variable_name="John"

In [ ]:
x,y,z="Orange","banana","cherry"
print(x)
print(y)
print(z)

# is the same as

x=y=z="orange"
print(x)
print(y)
print(z)

fruits=["apple","banana","cherry"]
x,y,z=fruits
print(x)
print(y)
print(z)

In [ ]:
x="python is awesome"
print(x)

x="Python"
y="is"
z="awesome"
print(x,y,z)

x="python"
y="is"
z="awesome"
print(x+y+z)

x=5
y=10
print(x+y)